/* Lato-Heavy */
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato/Lato-Heavy.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/Lato/Lato-Heavy.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato/Lato-Heavy.woff2") format("woff2"), url("../../fonts/Lato/Lato-Heavy.woff") format("woff"), url("../../fonts/Lato/Lato-Heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}
/* Lato-Bold */
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato/Lato-Bold.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/Lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato/Lato-Bold.woff2") format("woff2"), url("../../fonts/Lato/Lato-Bold.woff") format("woff"), url("../../fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
/* Lato-Semibold */
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato/Lato-Semibold.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/Lato/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato/Lato-Semibold.woff2") format("woff2"), url("../../fonts/Lato/Lato-Semibold.woff") format("woff"), url("../../fonts/Lato/Lato-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
/*  Lato-Regular */
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato/Lato-Regular.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/Lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato/Lato-Regular.woff2") format("woff2"), url("../../fonts/Lato/Lato-Regular.woff") format("woff"), url("../../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
/*  Raleway- */
@font-face {
  font-family: "Raleway";
  src: url("../../fonts/Raleway/Raleway-ExtraBold.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/Raleway/Raleway-ExtraBold.woff2") format("woff2"), url("../../fonts/Raleway/Raleway-ExtraBold.woff") format("woff"), url("../../fonts/Raleway/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

span {
  display: inline-block;
}

html {
  font-size: 10px;
  line-height: 10px;
}

body {
  font-family: "Lato", sans-serif, Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: 800;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1202px;
}

.accent-title {
  color: #3e9cdc;
}

.text-right {
  text-align: right;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  overflow: hidden;
  width: 1px;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  white-space: nowrap;
}

.link-bold {
  color: #d4c17f;
  font-weight: 700;
}

.none {
  display: none;
}

.no-scroll {
  overflow-y: hidden;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(16, 16, 29, 0.9);
  z-index: 10;
}
.header__inner-wrapper {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  min-height: 10rem;
}

.logo__link {
  color: #fff;
}
.logo__text {
  font-family: "Raleway", serif;
  font-weight: 800;
  font-size: 2.8rem;
  line-height: 3.3rem;
  text-transform: uppercase;
}
.logo__text--accent {
  color: #42a9ed;
}

.main-navigation__list {
  display: flex;
  gap: 6rem;
}
.main-navigation__list-item-link {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  color: #fff;
  transition: color 0.2s ease-out;
}
.main-navigation__list-item-link--active {
  color: #43abf0;
}
.main-navigation__list-item-link:hover {
  color: #43abf0;
  cursor: pointer;
}

.hero {
  padding: 20.2rem 0;
  background: url("../img/hero/hero-bg.png");
  min-height: 85rem;
}
.hero__title {
  margin-bottom: 8rem;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.8rem;
  text-transform: uppercase;
  color: #000000;
}
.hero__content {
  font-size: 2rem;
  line-height: 2.4rem;
  color: #000000;
}
.hero__content-subtitle {
  margin-bottom: 1rem;
  font-weight: 700;
}
.hero__content-list {
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.hero__content-list-item {
  font-weight: 400;
}

.button {
  padding: 1.5rem 1rem;
  border: 1px solid #6f6d7b;
  border-radius: 4px;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #2a2b30;
  background-color: #fff;
  min-width: 18.3rem;
  min-height: 4.3rem;
  transition: background-color 0.2s ease-in;
}
.button--accent {
  color: #ffffff;
  background-color: #3e9cdc;
  border: 1px solid #ffffff;
  transition: background-color 0.2s ease-in;
}
.button:hover {
  background-color: #1ba3ff;
}

.order {
  padding: 12rem 0 15rem;
  background: #272733;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.order__title {
  margin-bottom: 3rem;
  font-weight: 800;
  font-size: 3.6rem;
  line-height: 4.3rem;
  text-transform: uppercase;
}
.order__text {
  margin-bottom: 8rem;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #bbbbbb;
}/*# sourceMappingURL=main.css.map */