/* Lato-Heavy */
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato/Lato-Heavy.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/Lato/Lato-Heavy.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato/Lato-Heavy.woff2") format("woff2"), url("../../fonts/Lato/Lato-Heavy.woff") format("woff"), url("../../fonts/Lato/Lato-Heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}
/* Lato-Bold */
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato/Lato-Bold.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/Lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato/Lato-Bold.woff2") format("woff2"), url("../../fonts/Lato/Lato-Bold.woff") format("woff"), url("../../fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
/* Lato-Semibold */
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato/Lato-Semibold.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/Lato/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato/Lato-Semibold.woff2") format("woff2"), url("../../fonts/Lato/Lato-Semibold.woff") format("woff"), url("../../fonts/Lato/Lato-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
/*  Lato-Regular */
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato/Lato-Regular.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/Lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato/Lato-Regular.woff2") format("woff2"), url("../../fonts/Lato/Lato-Regular.woff") format("woff"), url("../../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
/*  Raleway- */
@font-face {
  font-family: "Raleway";
  src: url("../../fonts/Raleway/Raleway-ExtraBold.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/Raleway/Raleway-ExtraBold.woff2") format("woff2"), url("../../fonts/Raleway/Raleway-ExtraBold.woff") format("woff"), url("../../fonts/Raleway/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

span {
  display: inline-block;
}

html {
  font-size: 10px;
  line-height: 10px;
}

body {
  font-family: "Lato", sans-serif, Arial, Helvetica, sans-serif;
  background-color: #fff;
  background-color: red;
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1202px;
}

.text-right {
  text-align: right;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  overflow: hidden;
  width: 1px;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  white-space: nowrap;
}

.link-bold {
  color: #d4c17f;
  font-weight: 700;
}

.none {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(16, 16, 29, 0.9);
  z-index: 10;
}
.header__inner-wrapper {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  min-height: 10rem;
}
.header__inner-wrapper--mobile {
  position: fixed;
  padding: 40px 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 200px;
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
  background-color: rgba(6, 20, 95, 0.5);
}
.header__inner-wrapper--mobile .main-navigation {
  display: block;
}
.header__inner-wrapper--mobile .main-navigation__list {
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.header__inner-wrapper--mobile .header__nav-btn {
  position: fixed;
  top: 36px;
  right: 15px;
}
.header__nav-btn {
  display: none;
}
@media screen and (max-width: 840px) {
  .header__nav-btn {
    display: block;
  }
}

/* Nav Icon */
.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #fff;
  background: none;
  height: var(--height);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}

.logo__link {
  color: #fff;
}
.logo__text {
  font-family: "Raleway", serif;
  font-weight: 800;
  font-size: 2.8rem;
  line-height: 3.3rem;
  text-transform: uppercase;
}
.logo__text--accent {
  margin-left: -0.4rem;
  color: #42a9ed;
}

@media screen and (max-width: 840px) {
  .main-navigation {
    display: none;
  }
}
.main-navigation__nav-btn {
  display: none;
}
@media screen and (max-width: 840px) {
  .main-navigation__nav-btn {
    display: block;
  }
}
.main-navigation__list {
  display: flex;
  gap: 6rem;
}
.main-navigation__list-item-link {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  color: #fff;
  transition: color 0.2s ease-out;
}
.main-navigation__list-item-link--active {
  color: #43abf0;
}
.main-navigation__list-item-link:hover {
  color: #43abf0;
  cursor: pointer;
}

.hero {
  padding: 20.5rem 0 20rem;
  background: url("../img/hero/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
  min-height: 85rem;
}
.hero__title {
  margin-bottom: 9rem;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.8rem;
  text-transform: uppercase;
  color: #000000;
}
.hero__content {
  font-size: 2rem;
  line-height: 2.4rem;
  color: #000000;
}
.hero__content-subtitle {
  margin-bottom: 1rem;
  font-weight: 700;
}
.hero__content-list {
  padding-left: 2.5rem;
  margin-bottom: 7.7rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.hero__content-list-item {
  position: relative;
}
.hero__content-list-item::before {
  content: "-";
  position: absolute;
  left: -1.7rem;
  top: -0.3rem;
  font-size: 2rem;
  background-repeat: no-repeat;
}
.hero__dialogs {
  display: flex;
  gap: 3rem;
}

.button {
  padding: 1.2rem 1rem;
  border: 1px solid #6f6d7b;
  border-radius: 4px;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #2a2b30;
  background-color: #fff;
  min-width: 18.3rem;
  min-height: 4.3rem;
  transition: background-color 0.2s ease-in;
}
.button--accent {
  color: #ffffff;
  background-color: #3e9cdc;
  border: 1px solid #ffffff;
  transition: background-color 0.2s ease-in;
}
.button:hover {
  background-color: #27a0f3;
}

.dots {
  position: absolute;
  top: 0;
  left: 0;
  width: 830px;
  height: 6px;
  background: url("../img/order/dot.png");
  background-repeat: repeat-x;
  background-size: contain;
}

.order {
  padding: 12.6rem 0 15rem;
  background: #272733;
  background: url("../../img/order/order-bg.png");
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-position: center 0;
  min-height: 92rem;
}
.order__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order__content-title {
  margin-bottom: 2.7rem;
  font-weight: 800;
  font-size: 3.6rem;
  line-height: 4.3rem;
  text-transform: uppercase;
}
.order__content-title--accent {
  color: #3e9cdc;
}
.order__content-desciption {
  margin-bottom: 8rem;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #bbbbbb;
}
.order__row {
  margin-bottom: 8.6rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.order__row-item {
  position: relative;
  padding: 0 1rem;
  flex: 0 1 21rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order__row-item::after {
  content: "";
  position: absolute;
  top: 47px;
  right: -70px;
  width: 110px;
  height: 6px;
  background: url("../img/order/dot.png");
  background-repeat: repeat-x;
  background-size: contain;
}
.order__row-item:last-child::after {
  content: none;
}
.order__row-item-ellipse {
  margin-bottom: 2rem;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: #3e9cdc;
  border: 5px solid #286690;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order__row-item-description {
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-align: center;
  font-weight: 400;
}

.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.form__top-row {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.form__bottom-row {
  display: grid;
  grid-template-columns: auto minmax(100px, 370px);
  gap: 30px;
}
.form__input, .form__file-text {
  padding: 1.6rem 3.5rem 1.2rem 1rem;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #ffffff;
  border-radius: 3px;
  height: 4.8rem;
  color: #fff;
  font-size: 14px;
  transition: background-color 0.2s ease-in;
}
.form__input::-moz-placeholder, .form__file-text::-moz-placeholder {
  font-size: 18px;
  line-height: 22px;
  color: #272733;
}
.form__input::placeholder, .form__file-text::placeholder {
  font-size: 18px;
  line-height: 22px;
  color: #272733;
}
.form__input:focus, .form__file-text:focus {
  background-color: rgba(255, 255, 255, 0.3);
}
.form__file-input {
  display: none;
}
.form__file-text {
  position: relative;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #272733;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.form__file-icon {
  margin-right: 1rem;
}
.form__submit-button {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  color: #ffffff;
}

.form > div:nth-child(4) {
  grid-column: 1/3;
}

.form > button:nth-child(6) {
  margin-top: 23px;
  grid-column: 2/2;
}

.select-box {
  max-width: 37rem;
  background: rgba(61, 64, 80, 0.85);
  border-radius: 3px 3px 0px 0px;
  transition: all 0.2s ease-out;
}
.select-box__selected {
  position: relative;
  padding: 1.2rem 3.5rem 1.2rem 1rem;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #fff;
  border-radius: 3px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #272733;
  width: 37rem;
  cursor: pointer;
}
.select-box__selected--open {
  background: rgba(61, 64, 80, 0.85);
  border-radius: 3px 3px 0px 0px;
  border: none;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.select-box__selected::before {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  border-top: 2px solid #242b33;
  border-right: 2px solid #242b33;
  position: absolute;
  top: 1.7rem;
  right: 1.6rem;
  transform: rotate(135deg);
  transform-origin: center;
}
.select-box__list {
  position: absolute;
  width: 37rem;
  z-index: 100;
  display: none;
  padding: 10px;
  background: rgba(39, 39, 51, 0.9);
  border: 1px solid #3d4050;
  border-radius: 0 0 3px 3px;
  max-height: 180px;
  overflow-y: auto;
  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
  transition: all 2s ease-out;
}
.select-box__list::-webkit-scrollbar {
  width: 7px; /* width of the entire scrollbar */
}
.select-box__list::-webkit-scrollbar-track {
  border-radius: 3px; /* color of the tracking area */
  background: #3d4050;
}
.select-box__list::-webkit-scrollbar-thumb {
  background: #3e9cdc;
  border-radius: 3px; /* roundness of the scroll thumb */
  border: 1px solid #3d4050; /* creates padding around scroll thumb */
}
.select-box__item {
  font-size: 18px;
  line-height: 34px;
  transition: color 0.2s ease-out;
}
.select-box__item--accent {
  color: #42a9ed;
}
.select-box__item:hover {
  color: #42a9ed;
  cursor: pointer;
}

.open {
  display: block;
}

.select-box__selected::before .select-box__list .open {
  transform: rotate(-45deg);
  color: #ffffff;
}

.range-slider {
  position: relative;
  min-height: 48px;
  width: 100%; /* Width of the outside container */
  /* Mouse-over effects */
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
}
.range-slider__label {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #ffffff;
}
.range-slider__input {
  margin-top: 20px;
  -webkit-appearance: none; /* Override default CSS styles */
  -moz-appearance: none;
       appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */ /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #ffffff;
  height: 6px;
  border-radius: 5px;
}
.range-slider__input:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
.range-slider__input::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
  background: #42a9ed;
  border: 3px solid #286690;
}
.range-slider__input::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
  background: #42a9ed;
  border: 3px solid #286690;
  border-radius: 50%;
}
.range-slider__output {
  position: absolute;
  top: 0.1rem;
  right: 0;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: rgba(255, 255, 255, 0.85);
}
.range-slider__output-percent {
  margin-left: 0.6rem;
}

.footer {
  padding: 3.2rem 0;
  min-height: 8rem;
  background-color: #3d4050;
}
.footer__row {
  display: grid;
  grid-template-columns: minmax(20rem, 34rem) minmax(20rem, 67rem) minmax(20rem, 30.9rem);
  gap: 8rem;
}
.footer__rights {
  position: relative;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
}
.footer__rights::after {
  content: "";
  position: absolute;
  top: -2px;
  right: -7px;
  width: 0.1rem;
  height: 1.8rem;
  background: #c3c3c3;
}
.footer__payments {
  position: relative;
}
.footer__payments::after {
  content: "";
  position: absolute;
  top: -2px;
  right: -39px;
  width: 0.1rem;
  height: 1.8rem;
  background: #c3c3c3;
}
.footer__payments-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
.footer__payments-list-item {
  position: relative;
  font-size: 13px;
  line-height: 16px;
  color: #c3c3c3;
}
.footer__payments-list-item--wallet::before, .footer__payments-list-item--web-money::before, .footer__payments-list-item--yandex-money::before {
  content: "";
  position: absolute;
  left: -33px;
  top: -2px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}
.footer__payments-list-item--wallet::before {
  background-image: url("../img/footer/wallet.svg");
}
.footer__payments-list-item--web-money::before {
  background-image: url("../img/footer/web-money.svg");
}
.footer__payments-list-item--yandex-money::before {
  background-image: url("../img/footer/yandex-money.svg");
}
.footer__contacts-list {
  padding-left: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__contacts-list-item {
  position: relative;
}
.footer__contacts-list-item-link {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  transition: color 0.2s ease-in;
  cursor: pointer;
}
.footer__contacts-list-item-link:hover {
  color: #42a9ed;
}
.footer__contacts-list-item-link--mail::before, .footer__contacts-list-item-link--vk::before {
  content: "";
  position: absolute;
  left: -33px;
  top: -3px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}
.footer__contacts-list-item-link--mail::before {
  background-image: url("../img/footer/mail.svg");
}
.footer__contacts-list-item-link--vk::before {
  background-image: url("../img/footer/vk.svg");
}/*# sourceMappingURL=main.css.map */