/* Lato-Heavy */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Heavy.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Lato/Lato-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Heavy.woff2") format("woff2"), url("../fonts/Lato/Lato-Heavy.woff") format("woff"), url("../fonts/Lato/Lato-Heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}
/* Lato-Bold */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato/Lato-Bold.woff") format("woff"), url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
/* Lato-Semibold */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Semibold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Lato/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Semibold.woff2") format("woff2"), url("../fonts/Lato/Lato-Semibold.woff") format("woff"), url("../fonts/Lato/Lato-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
/*  Lato-Regular */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato/Lato-Regular.woff") format("woff"), url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
/*  Raleway- */
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-ExtraBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Raleway/Raleway-ExtraBold.woff2") format("woff2"), url("../fonts/Raleway/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

span {
  display: inline-block;
}

html {
  font-size: 10px;
  line-height: 10px;
}

body {
  font-family: "Lato", sans-serif, Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #ffffff;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 120.2rem;
}
@media screen and (max-width: 560px) {
  .container {
    padding: 0 1rem;
  }
}

.styles-container {
  min-height: 100vh;
  padding-bottom: 8rem;
  margin-bottom: -8rem;
}

[data-reveal=left] {
  -webkit-clip-path: inset(0 100% 0 0);
          clip-path: inset(0 100% 0 0);
}

[data-reveal=left].revealed {
  animation: reveal-left 1.2s cubic-bezier(0.17, 0.97, 0.38, 1) forwards 300ms;
}

@keyframes reveal-left {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  100% {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(16, 16, 29, 0.9);
  z-index: 10;
}
.header__inner-wrapper {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  min-height: 10rem;
}
@media screen and (max-width: 560px) {
  .header__inner-wrapper {
    min-height: inherit;
  }
}
.header__inner-wrapper--mobile {
  position: fixed;
  padding: 4rem 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 200px;
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
  background-color: rgba(6, 20, 95, 0.5);
  z-index: 10;
}
@media screen and (max-width: 560px) {
  .header__inner-wrapper--mobile {
    padding: 2rem 0;
  }
}
.header__inner-wrapper--mobile .main-navigation {
  display: block;
}
.header__inner-wrapper--mobile .main-navigation__list {
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.header__inner-wrapper--mobile .header__nav-btn {
  position: fixed;
  top: 3.6rem;
  right: 1.5rem;
  cursor: pointer;
}
@media screen and (max-width: 560px) {
  .header__inner-wrapper--mobile .header__nav-btn {
    top: 2.5rem;
    right: 1.1rem;
  }
}
.header__nav-btn {
  display: none;
}
@media screen and (max-width: 840px) {
  .header__nav-btn {
    display: block;
  }
}

.nav-icon-btn {
  height: 3rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
}
@media screen and (max-width: 560px) {
  .nav-icon-btn {
    height: 2rem;
    width: 3rem;
  }
}

.nav-icon {
  position: relative;
  width: 4rem;
  height: 0.1rem;
  background-color: #ffffff;
}
@media screen and (max-width: 560px) {
  .nav-icon {
    width: 3rem;
  }
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 4rem;
  height: 0.1rem;
  background-color: #ffffff;
  transition: transform 120ms ease-in, top 120ms linear 120ms;
}
@media screen and (max-width: 560px) {
  .nav-icon::before,
  .nav-icon::after {
    width: 3rem;
  }
}

.nav-icon::before {
  top: -0.8rem;
}

.nav-icon::after {
  top: 0.8rem;
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top 120ms linear, transform 120ms ease-in 120ms;
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}

.logo__link {
  color: #ffffff;
}
.logo__text {
  font-family: "Raleway", serif;
  font-weight: 800;
  font-size: 2.8rem;
  line-height: 3.3rem;
  text-transform: uppercase;
}
.logo__text--accent {
  margin-left: -0.4rem;
  color: #42a9ed;
}
@media screen and (max-width: 560px) {
  .logo__text {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }
}

@media screen and (max-width: 840px) {
  .main-navigation {
    display: none;
  }
}
.main-navigation__nav-btn {
  display: none;
}
@media screen and (max-width: 840px) {
  .main-navigation__nav-btn {
    display: block;
  }
}
.main-navigation__list {
  display: flex;
  align-items: center;
  gap: 1rem 6rem;
  flex-wrap: wrap;
}
.main-navigation__list-item-link {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  color: #fff;
  transition: color 240ms ease-out;
}
.main-navigation__list-item-link--active {
  color: #43abf0;
}
.main-navigation__list-item-link:hover {
  color: #43abf0;
  cursor: pointer;
}

.hero {
  padding: 20.5rem 0 20rem;
  background: url("../img/hero/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
  min-height: 85rem;
}
@media screen and (max-width: 840px) {
  .hero {
    padding: 15.5rem 0 10rem;
    min-height: 0;
  }
}
@media screen and (max-width: 560px) {
  .hero {
    padding: 10rem 0 2rem;
  }
}
.hero__title {
  margin-bottom: 9rem;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.8rem;
  color: #000000;
  text-transform: uppercase;
}
@media screen and (max-width: 840px) {
  .hero__title {
    margin-bottom: 4rem;
    font-size: 3rem;
    line-height: 4rem;
  }
}
@media screen and (max-width: 560px) {
  .hero__title {
    font-size: 2.2rem;
    line-height: 3rem;
  }
}
.hero__content {
  font-size: 2rem;
  line-height: 2.4rem;
  color: #000000;
}
@media screen and (max-width: 840px) {
  .hero__content {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 560px) {
  .hero__content {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}
.hero__content-subtitle {
  margin-bottom: 1rem;
  font-weight: 700;
}
.hero__content-list {
  padding-left: 2.5rem;
  margin-bottom: 7.7rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media screen and (max-width: 560px) {
  .hero__content-list {
    margin-bottom: 3.7rem;
  }
}
.hero__content-list-item {
  position: relative;
}
.hero__content-list-item::before {
  content: "-";
  position: absolute;
  top: 50%;
  left: -20px;
  font-size: 2rem;
  background-repeat: no-repeat;
  transform: translate(50%, -60%);
}
.hero__dialogs {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
@media screen and (max-width: 560px) {
  .hero__dialogs {
    gap: 2rem;
  }
}

.button {
  padding: 1.2rem 1rem;
  border: 0.1rem solid #6f6d7b;
  border-radius: 0.4rem;
  color: #2a2b30;
  background-color: #ffffff;
  min-width: 18.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 240ms ease-in;
  overflow: hidden;
  text-transform: uppercase;
}
.button--accent {
  color: #ffffff;
  background-color: #3e9cdc;
  border: 0.1rem solid #ffffff;
}
.button:hover {
  background-color: #27a0f3;
}
@media screen and (max-width: 560px) {
  .button {
    padding: 0.8rem 0.6rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    min-width: 12.3rem;
    min-height: 4rem;
  }
}

.order {
  padding: 12.6rem 0 15rem;
  background: url("../img/order/bg-order.png");
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  min-height: 92rem;
}
@media screen and (max-width: 840px) {
  .order {
    padding: 6.6rem 0;
    min-height: 0;
  }
}
.order__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 560px) {
  .order__content {
    justify-content: center;
  }
}
.order__content-title {
  margin-bottom: 2.7rem;
  font-weight: 800;
  font-size: 3.6rem;
  line-height: 4.3rem;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 840px) {
  .order__content-title {
    font-size: 2.6rem;
    line-height: 3rem;
  }
}
.order__content-title--accent {
  color: #3e9cdc;
}
.order__content-desciption {
  margin-bottom: 8rem;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #bbbbbb;
  text-align: center;
}
@media screen and (max-width: 840px) {
  .order__content-desciption {
    margin-bottom: 4rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}
.order__row {
  margin-bottom: 8rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  overflow: hidden;
}
@media screen and (max-width: 840px) {
  .order__row {
    margin-bottom: 2rem;
    gap: 1rem;
  }
}
.order__row-item {
  position: relative;
  padding: 0 1rem;
  flex: 0 1 21rem;
  min-height: 16.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 840px) {
  .order__row-item {
    min-height: 13.4rem;
  }
}
.order__row-item::after {
  content: "";
  position: absolute;
  top: 4.7rem;
  right: -7rem;
  width: 11rem;
  height: 0.6rem;
  background: url("../img/order/dot.png");
  background-repeat: repeat-x;
  background-size: contain;
}
@media screen and (max-width: 1220px) {
  .order__row-item::after {
    content: none;
  }
}
.order__row-item:last-child::after {
  content: none;
}
.order__row-item-ellipse {
  margin-bottom: 2rem;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  background: #3e9cdc;
  border: 0.5rem solid #286690;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 840px) {
  .order__row-item-ellipse {
    margin-bottom: 1rem;
    width: 8rem;
    height: 8rem;
  }
}
@media screen and (max-width: 560px) {
  .order__row-item-ellipse {
    width: 6rem;
    height: 6rem;
  }
}
@media screen and (max-width: 840px) {
  .order__row-item-ellipse > img {
    width: 4rem;
    height: 4rem;
  }
}
@media screen and (max-width: 560px) {
  .order__row-item-ellipse > img {
    width: 3rem;
    height: 3rem;
  }
}
.order__row-item-description {
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-align: center;
  font-weight: 400;
}
@media screen and (max-width: 840px) {
  .order__row-item-description {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
}
@media screen and (max-width: 560px) {
  .order__row-item-description {
    font-size: 1rem;
    height: 2rem;
  }
}

.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
@media screen and (max-width: 1024px) {
  .form {
    grid-template-columns: 37rem 1fr;
  }
}
@media screen and (max-width: 840px) {
  .form {
    grid-template-columns: 1fr;
  }
}
.form__top-row {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.form__bottom-row {
  display: grid;
  grid-template-columns: auto minmax(10rem, 37rem);
  gap: 3rem;
}
.form__input, .form__file-text {
  padding: 1.6rem 3.5rem 1.2rem 1rem;
  background: rgba(255, 255, 255, 0.85);
  border: 0.1rem solid #ffffff;
  border-radius: 0.3rem;
  height: 4.8rem;
  color: #000000;
  font-size: 1.8rem;
  line-height: 2.2rem;
  text-overflow: ellipsis;
  transition: background-color 240ms ease-in;
}
@media screen and (max-width: 420px) {
  .form__input, .form__file-text {
    height: 4rem;
    font-size: 1.4rem;
  }
}
.form__input::-moz-placeholder, .form__file-text::-moz-placeholder {
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #272733;
}
.form__input::placeholder, .form__file-text::placeholder {
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #272733;
}
@media screen and (max-width: 420px) {
  .form__input::-moz-placeholder, .form__file-text::-moz-placeholder {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  .form__input::placeholder, .form__file-text::placeholder {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}
.form__input:focus, .form__file-text:focus {
  background-color: rgba(255, 255, 255, 0.3);
  color: #ffffff;
}
.form__file-input {
  display: none;
}
.form__file-text {
  position: relative;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  color: #272733;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 240ms ease-in;
  cursor: pointer;
}
.form__file-text:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
@media screen and (max-width: 560px) {
  .form__file-text {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}
.form__file-icon {
  margin-right: 1rem;
}
@media screen and (max-width: 560px) {
  .form__file-icon {
    width: 1rem;
    height: 1.2rem;
  }
}
.form__submit-button {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
@media screen and (max-width: 560px) {
  .form__submit-button {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}

.form > div:nth-child(4) {
  grid-column: 1/3;
}
@media screen and (max-width: 1024px) {
  .form > div:nth-child(4) {
    grid-column: inherit;
  }
}

.form > input[type=submit]:nth-child(6) {
  margin-top: 2.3rem;
  grid-column: 2/2;
}
@media screen and (max-width: 1024px) {
  .form > input[type=submit]:nth-child(6) {
    margin-top: 0;
    grid-column: inherit;
  }
}

.select-box {
  position: relative;
  min-height: 4.8rem;
  transition: all 240ms ease-out;
}
@media screen and (max-width: 420px) {
  .select-box {
    width: 28.3rem;
    min-height: 4rem;
  }
}
.select-box::before {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  border-top: 2px solid #000000;
  border-right: 2px solid #000000;
  position: absolute;
  top: 1.7rem;
  right: 1.6rem;
  transform: rotate(135deg);
  transform-origin: center;
  z-index: 100;
}
@media screen and (max-width: 420px) {
  .select-box::before {
    top: 1.3rem;
  }
}
.select-box__selected {
  position: absolute;
  padding: 1.1rem 3.5rem 1.1rem 1rem;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #ffffff;
  border-radius: 3px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
  width: 100%;
  min-height: 4.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.select-box__selected::-moz-placeholder {
  color: #272733;
}
.select-box__selected::placeholder {
  color: #272733;
}
@media screen and (max-width: 420px) {
  .select-box__selected {
    width: 28.3rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
    min-height: 4rem;
  }
}
.select-box__list {
  position: absolute;
  top: 48px;
  width: 100%;
  display: none;
  padding: 1rem;
  background: rgba(39, 39, 51, 0.9);
  border: 1px solid #3d4050;
  border-radius: 0 0 3px 3px;
  max-height: 18rem;
  overflow-y: auto;
  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
  transition: all 240ms ease-out;
  z-index: 100;
}
@media screen and (max-width: 420px) {
  .select-box__list {
    width: 28.3rem;
    max-height: 12rem;
  }
}
.select-box__list::-moz--scrollbar {
  width: 0.7rem;
}
.select-box__list::-moz--scrollbar-track {
  border-radius: 0.3rem;
  background: #3d4050;
}
.select-box__list::-moz--scrollbar-thumb {
  background: #3e9cdc;
  border-radius: 0.3rem;
  border: 0.1rem solid #3d4050;
}
.select-box__list::-webkit-scrollbar {
  width: 0.7rem;
}
.select-box__list::-webkit-scrollbar-track {
  border-radius: 0.3rem;
  background: #3d4050;
}
.select-box__list::-webkit-scrollbar-thumb {
  background: #3e9cdc;
  border-radius: 0.3rem;
  border: 0.1rem solid #3d4050;
}
.select-box__item {
  padding: 0.3rem 0;
  font-size: 1.8rem;
  line-height: 3.4rem;
  transition: color 240ms ease-out;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 420px) {
  .select-box__item {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
.select-box__item--accent {
  color: #42a9ed;
}
.select-box__item:hover {
  color: #42a9ed;
  cursor: pointer;
}

.select-box.active .select-box__list {
  display: block;
}

.select-box.active.select-box::before {
  top: 1.9rem;
  transform: rotate(-45deg);
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}
@media screen and (max-width: 420px) {
  .select-box.active.select-box::before {
    top: 1.7rem;
  }
}

.select-box.active .select-box__selected {
  background: rgba(61, 64, 80, 0.85);
  border-radius: 3px 3px 0px 0px;
  border: none;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #ffffff;
}
.select-box.active .select-box__selected::-moz-placeholder {
  color: #ffffff;
}
.select-box.active .select-box__selected::placeholder {
  color: #ffffff;
}

.range-slider {
  position: relative;
  min-height: 4.8rem;
  width: 100%;
}
@media screen and (max-width: 420px) {
  .range-slider {
    min-height: 4rem;
  }
}
.range-slider__label {
  padding-right: 4rem;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #ffffff;
  display: inline-block;
}
@media screen and (max-width: 1024px) {
  .range-slider__label {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}
@media screen and (max-width: 420px) {
  .range-slider__label {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}
.range-slider__input {
  margin-top: 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 2.5rem;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 240ms;
  background: rgba(255, 255, 255, 0.85);
  border: 0.1rem solid #ffffff;
  height: 0.6rem;
  border-radius: 0.5rem;
}
.range-slider__input:hover {
  opacity: 1;
}
.range-slider__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2.5rem;
  height: 2.5rem;
  background: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  border-radius: 50%;
  background: #42a9ed;
  border: 0.3rem solid #286690;
}
.range-slider__input::-moz-range-thumb {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  background: #42a9ed;
  border: 0.3rem solid #286690;
  border-radius: 50%;
}
.range-slider__output {
  position: absolute;
  top: 0.1rem;
  right: 0;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: rgba(255, 255, 255, 0.85);
}
@media screen and (max-width: 1024px) {
  .range-slider__output {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}
@media screen and (max-width: 420px) {
  .range-slider__output {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}
.range-slider__output-percent {
  margin-left: 0.6rem;
}
@media screen and (max-width: 1024px) {
  .range-slider__output-percent {
    margin-left: 0.2rem;
  }
}

.footer {
  margin-top: -8rem;
  padding: 3rem 0;
  min-height: 8rem;
  background-color: #3d4050;
}
.footer__row {
  display: grid;
  grid-template-columns: minmax(20rem, 34rem) minmax(20rem, 67rem) minmax(20rem, 30.9rem);
  gap: 8rem;
}
@media screen and (max-width: 1024px) {
  .footer__row {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media screen and (max-width: 560px) {
  .footer__row {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}
.footer__rights {
  position: relative;
  display: flex;
  align-items: center;
  letter-spacing: 0.05rem;
}
@media screen and (max-width: 1024px) {
  .footer__rights {
    font-size: 1rem;
    line-height: 1.2rem;
    grid-row: 3/4;
    grid-column: 1/3;
  }
}
@media screen and (max-width: 560px) {
  .footer__rights {
    font-size: 0.8rem;
    line-height: 1rem;
    grid-column: inherit;
  }
}
.footer__rights::after {
  content: "";
  position: absolute;
  top: -0.2rem;
  right: -0.7rem;
  width: 0.1rem;
  height: 1.8rem;
  background: #c3c3c3;
}
@media screen and (max-width: 1024px) {
  .footer__rights::after {
    content: none;
  }
}
.footer__payments {
  position: relative;
}
@media screen and (max-width: 1024px) {
  .footer__payments {
    padding: 0 3rem;
  }
}
.footer__payments::after {
  content: "";
  position: absolute;
  top: -0.2rem;
  right: -3.9rem;
  width: 0.1rem;
  height: 1.8rem;
  background: #c3c3c3;
}
@media screen and (max-width: 1024px) {
  .footer__payments::after {
    content: none;
  }
}
.footer__payments-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem 4rem;
}
@media screen and (max-width: 1024px) {
  .footer__payments-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}
@media screen and (max-width: 560px) {
  .footer__payments-list {
    gap: 1rem;
  }
}
.footer__payments-list-item {
  position: relative;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #c3c3c3;
}
@media screen and (max-width: 560px) {
  .footer__payments-list-item {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}
.footer__payments-list-item--wallet::before, .footer__payments-list-item--web-money::before, .footer__payments-list-item--yandex-money::before {
  content: "";
  position: absolute;
  left: -3.3rem;
  top: -0.2rem;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
}
@media screen and (max-width: 560px) {
  .footer__payments-list-item--wallet::before, .footer__payments-list-item--web-money::before, .footer__payments-list-item--yandex-money::before {
    left: -3rem;
  }
}
.footer__payments-list-item--wallet::before {
  background-image: url("../img/footer/wallet.svg");
}
.footer__payments-list-item--web-money::before {
  background-image: url("../img/footer/web-money.svg");
}
.footer__payments-list-item--yandex-money::before {
  background-image: url("../img/footer/yandex-money.svg");
}
.footer__contacts-list {
  padding-left: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem 4rem;
}
@media screen and (max-width: 1024px) {
  .footer__contacts-list {
    padding: 0 3rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}
.footer__contacts-list-item {
  position: relative;
}
.footer__contacts-list-item-link {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #ffffff;
  transition: color 240ms ease-in;
  cursor: pointer;
}
.footer__contacts-list-item-link:hover {
  color: #42a9ed;
}
.footer__contacts-list-item-link--mail::before, .footer__contacts-list-item-link--vk::before {
  content: "";
  position: absolute;
  left: -3.3rem;
  top: -0.3rem;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
}
.footer__contacts-list-item-link--mail::before {
  background-image: url("../img/footer/mail.svg");
}
.footer__contacts-list-item-link--vk::before {
  background-image: url("../img/footer/vk.svg");
}/*# sourceMappingURL=main.css.map */