.apartments {
  position: relative;

  &::before {
    content: "III";
    right: calc(50% + 555px);
    transform: translate(50%, 0%);
    line-height: 1;
    @include decorNumber;
  }

  &__title {
    margin-bottom: 88px;
    font-family: $font-accent;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: $accent;

    @include tabletLarge {
      margin-bottom: 44px;
      font-size: 28px;
    }
  }
}
