.benefits {
  position: relative;
  padding: 120px 0;
  overflow: hidden;

  &::after {
    content: "II";
    left: calc(50% + 555px);
    transform: translate(-50%, 0%);
    line-height: 1.15;
    opacity: 0.02;
    @include decorNumber;
  }

  &__row {
    display: flex;
    gap: 70px;

    @include desktopSmall {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
      gap: 40px 30px;
    }

    &-item {
      text-align: center;

      &-img {
        margin-bottom: 53px;

        @include desktopSmall {
          margin-bottom: 20px;
          width: 60px;
          height: 60px;
        }
      }

      &-text {
        font-size: 20px;
        line-height: 1.35;
        font-family: $font-secodary;
        font-weight: 300;

        @include desktopSmall {
          font-size: 16px;
        }
      }
    }
  }
}
