.button {
  padding: 1.2rem 1rem;
  border: 0.1rem solid $backgroundBorderButton;
  border-radius: 0.4rem;
  color: $textColorButtonSecondary;
  background-color: $white;
  font-size: 1.3rem;
  line-height: 1.6rem;
  min-width: 18.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color $durationNormal ease-in;
  overflow: hidden;
  text-transform: uppercase;

  &--accent {
    color: $textColorButton;
    background-color: $backgraundButtonSecondary;
    border: 0.1rem solid $white;
  }

  &:hover {
    background-color: saturate($backgraundButtonSecondary, 20%);
  }

  @include mobileHuge {
    padding: 0.8rem 0.6rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    min-width: 12.3rem;
    min-height: 4rem;
  }
}
