.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__ellipse {
    margin-bottom: 2rem;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    background: $backgroundLightBlue;
    border: 0.5rem solid $backgroundorderIcon;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tabletLarge {
      margin-bottom: 1rem;
      width: 8rem;
      height: 8rem;
    }

    @include mobileHuge {
      width: 6rem;
      height: 6rem;
    }

    &-icon {
      width: 5.5rem;
      height: 5.5rem;

      @include tabletLarge {
        width: 4rem;
        height: 4rem;
      }

      @include mobileHuge {
        width: 3rem;
        height: 3rem;
      }
    }
  }

  &__description {
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-align: center;
    font-weight: 400;

    @include tabletLarge {
      font-size: 1.4rem;
      line-height: 1.6rem;
    }
  }
}
