.footer {
  padding: 72px 0 51px;
  background-color: $footer-bg;
  font-size: 14px;
  letter-spacing: 0.05rem;

  @include tabletLarge {
    padding: 36px 0 25px;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @include tabletLarge {
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
      gap: 40px 30px;
    }
  }

  &__logo {
    margin-top: -12px;
  }

  &__nav-list {
    display: grid;
    gap: 15px;
  }

  &__address {
    display: grid;
    gap: 20px;

    &-list {
      display: grid;
      gap: 15px;

      &-item-link {
        color: $white;
        transition: color 0.2s ease-out;
        cursor: pointer;

        &:hover {
          opacity: 0.2;
        }
      }
    }

    &-socials {
      display: flex;
      align-items: center;
      gap: 22px;
      &-item:hover {
        transform: scale(1.1);
      }
    }
  }
}
