.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;

  @include desktopMedium {
    grid-template-columns: 37rem 1fr;
  }

  @include tabletLarge {
    grid-template-columns: 1fr;
  }

  &__top-row {
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  &__bottom-row {
    display: grid;
    grid-template-columns: auto minmax(10rem, 37rem);
    gap: 3rem;
  }

  &__input,
  &__file-text {
    padding: 1.6rem 3.5rem 1.2rem 1rem;
    background: $backgraundInput;
    border: 0.1rem solid $white;
    border-radius: 0.3rem;
    height: 4.8rem;
    color: $white;
    font-size: 1.4rem;
    transition: background-color 0.2s ease-in;

    @include mobileMedium {
      height: 4rem;
    }

    &::placeholder {
      font-size: 1.8rem;
      line-height: 2.2rem;
      color: $textPlaceholder;

      @include mobileMedium {
        font-size: 1.2rem;
        line-height: 1.4rem;
      }
    }

    &:focus {
      background-color: $backgraundFocusInput;
    }
  }

  &__file {
    &-input {
      display: none;
    }

    &-text {
      position: relative;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 1.8rem;
      text-transform: uppercase;
      color: $darkGray;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.2s ease-in;
      cursor: pointer;

      &:hover {
        background-color: $backgraundFocusInput;
      }

      @include mobileHuge {
        font-size: 1.2rem;
        line-height: 1.4rem;
      }
    }

    &-icon {
      margin-right: 1rem;

      @include mobileHuge {
        width: 1rem;
        height: 1.2rem;
      }
    }
  }

  &__submit-button {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    color: $white;

    @include mobileHuge {
      font-size: 1.2rem;
      line-height: 1.4rem;
    }
  }
}

.form > div:nth-child(4) {
  grid-column: 1/3;

  @include desktopMedium {
    grid-column: inherit;
  }
}

.form > button:nth-child(6) {
  margin-top: 2.3rem;
  grid-column: 2/2;

  @include desktopMedium {
    margin-top: 0;
    grid-column: inherit;
  }
}
