.hero {
  padding: 20.5rem 0 20rem;
  background: url("../img/hero/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
  min-height: 85rem;

  &__title {
    margin-bottom: 9rem;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 5.8rem;
    text-transform: uppercase;
    color: $textColorBlack;
  }

  &__content {
    font-size: 2rem;
    line-height: 2.4rem;
    color: #000000;

    &-subtitle {
      margin-bottom: 1rem;
      font-weight: 700;
    }

    &-list {
      padding-left: 2.5rem;
      margin-bottom: 7.7rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      &-item {
        position: relative;

        &::before {
          content: "-";
          position: absolute;
          left: -1.7rem;
          top: -0.3rem;
          font-size: 2rem;
          background-repeat: no-repeat;
        }
      }
    }
  }

  &__dialogs {
    display: flex;
    gap: 3rem;
  }
}
