.hero {
  padding: 20.5rem 0 20rem;
  background: url("../img/hero/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
  min-height: 85rem;

  @include tabletLarge {
    padding: 15.5rem 0 10rem;
    min-height: inherit;
  }

  @include mobileHuge {
    padding: 10rem 0 2rem;
    min-height: inherit;
  }

  &__title {
    margin-bottom: 9rem;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 5.8rem;
    color: $textColorBlack;
    text-transform: uppercase;

    @include tabletLarge {
      margin-bottom: 4rem;
      font-size: 3rem;
      line-height: 4rem;
    }

    @include mobileHuge {
      font-size: 2.2rem;
      line-height: 3rem;
    }
  }

  &__content {
    font-size: 2rem;
    line-height: 2.4rem;
    color: $dark;

    @include tabletLarge {
      font-size: 1.8rem;
      line-height: 2rem;
    }

    @include mobileHuge {
      font-size: 1.4rem;
      line-height: 1.8rem;
    }

    &-subtitle {
      margin-bottom: 1rem;
      font-weight: 700;
    }

    &-list {
      padding-left: 2.5rem;
      margin-bottom: 7.7rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      @include mobileHuge {
        margin-bottom: 3.7rem;
      }

      &-item {
        position: relative;

        &::before {
          content: "-";
          position: absolute;
          top: 50%;
          left: -20px;
          font-size: 2rem;
          background-repeat: no-repeat;
          transform: translate(50%, -60%);
        }
      }
    }
  }

  &__dialogs {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;

    @include mobileHuge {
      gap: 2rem;
    }
  }
}
