.logo {
  &__link {
    color: $white;
  }

  &__text {
    font-family: $font-accent;
    font-weight: 800;
    font-size: 2.8rem;
    line-height: 3.3rem;
    text-transform: uppercase;

    &--accent {
      color: $textColorAccentLogo;
    }

    @include mobileHuge {
      font-size: 2.2rem;
      line-height: 2.8rem;
    }
  }
}
