.nav-btn {
  height: 3rem;
  width: 4rem;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  display: none;

  @include tabletLarge {
    display: flex;
  }

  @include mobileHuge {
    height: 2rem;
    width: 3rem;
  }
}

.nav-btn__icon {
  position: relative;
  width: 4rem;
  height: 0.1rem;
  background-color: $white;

  @include mobileHuge {
    width: 3rem;
  }
}

.nav-btn__icon::before,
.nav-btn__icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 4rem;
  height: 0.1rem;
  background-color: $white;
  transition: transform $durationFast ease-in,
    top $durationFast linear $durationFast;

  @include mobileHuge {
    width: 3rem;
  }
}

.nav-btn__icon::before {
  top: calc(0.1rem * -8);
}

.nav-btn__icon::after {
  top: calc(0.1rem * 8);
}

.nav-btn__icon.nav-btn__icon--active {
  background-color: transparent;
}

.nav-btn__icon.nav-btn__icon--active::before,
.nav-btn__icon.nav-btn__icon--active::after {
  top: 0;
  transition: top $durationFast linear,
    transform $durationFast ease-in $durationFast;
}

.nav-btn__icon.nav-btn__icon--active::before {
  transform: rotate(45deg);
}

.nav-btn__icon.nav-btn__icon--active::after {
  transform: rotate(-45deg);
}

.nav-btn__icon.nav-btn__icon--active .nav-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
