.payments-list {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem 4rem;

  @include desktopMedium {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  &__item {
    font-size: 1.3rem;
    line-height: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $textFooter;

    @include mobileHuge {
      font-size: 1.2rem;
      line-height: 1.4rem;
    }

    &-icon {
      margin-right: 1rem;
      width: 2rem;
      height: 2rem;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: -0.2rem;
    right: -0.7rem;
    width: 0.1rem;
    height: 1.8rem;
    background: $textFooter;

    @include desktopMedium {
      content: none;
    }
  }
}
