.section-map {
  position: relative;
  padding: 180px 0;

  &::before {
    content: "V";
    right: calc(50% + 555px);
    transform: translate(50%, 0%);
    @include decorNumber;
    top: 180px;
    z-index: -1;
  }

  @include tabletLarge {
    padding: 90px 0;
  }

  &__title {
    margin-bottom: 88px;
    font-family: $font-accent;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: $accent;

    @include tabletLarge {
      margin-bottom: 44px;
      font-size: 28px;
    }
  }

  &__map {
    height: 358px;
    background-color: #626262;
  }
}
