.select-box {
  position: relative;
  min-height: 4.8rem;
  transition: all $durationNormal ease-out;

  @include mobileMedium {
    min-height: 4rem;
  }

  &::before {
    content: "";
    width: 0.8rem;
    height: 0.8rem;
    border-top: 0.2rem solid $dark;
    border-right: 0.2rem solid $dark;
    position: absolute;
    top: 1.7rem;
    right: 1.6rem;
    transform: rotate(135deg);
    transform-origin: center;
    z-index: 9;

    @include mobileMedium {
      top: 1.3rem;
    }
  }

  &__selected {
    position: absolute;
    padding: 1.1rem 3.5rem 1.1rem 1rem;
    background: rgba(255, 255, 255, 0.85);
    border: 0.1rem solid $white;
    border-radius: 0.3rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.2rem;
    width: 100%;
    min-height: 4.8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

    &::placeholder {
      color: $textPlaceholder;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @include mobileMedium {
      font-size: 1.6rem;
      line-height: 2rem;
      min-height: 4rem;
    }
  }

  &__list {
    position: absolute;
    top: 4.8rem;
    width: 100%;
    display: none;
    padding: 1rem;
    background: rgba(39, 39, 51, 0.9);
    border: 0.1rem solid #3d4050;
    border-radius: 0 0 0.3rem 0.3rem;
    max-height: 18rem;
    overflow-y: auto;
    scrollbar-color: #6969dd #e0e0e0;
    scrollbar-width: thin;
    transition: all $durationNormal ease-out;
    z-index: 100;

    @include mobileMedium {
      top: 4rem;
      max-height: 12rem;
    }
  }
  &__list::-moz--scrollbar {
    width: 0.7rem;
  }

  &__list::-moz--scrollbar-track {
    border-radius: 0.3rem;
    background: #3d4050;
  }

  &__list::-moz--scrollbar-thumb {
    background: #3e9cdc;
    border-radius: 0.3rem;
    border: 0.1rem solid #3d4050;
  }

  &__list::-webkit-scrollbar {
    width: 0.7rem;
  }

  &__list::-webkit-scrollbar-track {
    border-radius: 0.3rem;
    background: #3d4050;
  }

  &__list::-webkit-scrollbar-thumb {
    background: #3e9cdc;
    border-radius: 0.3rem;
    border: 0.1rem solid #3d4050;
  }

  &__item {
    padding: 0.3rem 0;
    font-size: 1.8rem;
    line-height: 3.4rem;
    transition: color $durationNormal ease-out;
    overflow: hidden;
    text-overflow: ellipsis;

    @include mobileMedium {
      font-size: 1.6rem;
      line-height: 2rem;
    }

    &--accent {
      color: $blue;
    }

    &:hover {
      color: $blue;
      cursor: pointer;
    }
  }
}

.select-box.active .select-box__list {
  display: block;
}

.select-box.active.select-box::before {
  top: 1.9rem;
  transform: rotate(-45deg);
  border-top: 0.2rem solid $white;
  border-right: 0.2rem solid $white;

  @include mobileMedium {
    top: 1.7rem;
  }
}

.select-box.active .select-box__selected {
  background: rgba(61, 64, 80, 0.85);
  border-radius: 0.3rem 0.1rem 0 0;
  border: none;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: $white;

  &::placeholder {
    color: $white;
  }
}
