// breakpoints devices:
$mobileSmall: "max-width: 320px";
$mobileMedium: "max-width: 420px";
$mobileLarge: "max-width: 480px";
$mobileHuge: "max-width: 560px";

$tabletSmall: "max-width: 640px";
$tabletMedium: "max-width: 768px";
$tabletLarge: "max-width: 840px";

$desktopSmall: "max-width: 960px";
$desktopMedium: "max-width: 1024px";
$desktopLarge: "max-width: 1200px";
$desktopMidleLarge: "max-width: 1220px";
$desktopHuge: "max-width: 1400px";
