// fonts
$font-main: "Lato", sans-serif;
$font-accent: "Raleway", serif;

// text colors:
$textColorMain: #ffffff;
$textColorBlack: #000000;
$textColorAccent: #3e9cdc;
$textColorAccentLogo: #42a9ed;
$textColorLink: #fff;
$textColorAccentActiveLink: #43abf0;
$textColorDescription: #737373;
$textColorButton: #ffffff;
$textColorButtonSecondary: #2a2b30;
$textColorLightGray: #bbbbbb;
$textFooter: #c3c3c3;
$textPlaceholder: #272733;

// background colors:
$white: #ffffff;
$dark: #000000;
$gray: #fff5ea;
$blue: #42a9ed;
$lightBlue: #286690;
$darkGray: #272733;
$lightGray: #d3d3d3;
$light: rgba(255, 255, 255, 0.85);

$backgroundHeader: rgba(16, 16, 29, 0.9);
$backgroundFooter: #3d4050;
$backgraundButtonSecondary: #3e9cdc;
$backgraundInput: rgba(255, 255, 255, 0.85);
$backgraundFocusInput: rgba(255, 255, 255, 0.3);
$backgroundBorderButton: #6f6d7b;
$backgroundDark: #272733;
$backgroundorderIcon: #286690;
$backgroundLightBlue: #3e9cdc;
$backgroundLightBlueHoverButton: rgba(74, 141, 186, 0.2);

// box-shadows:
$shadowOrderSection: 0px 4px 4px rgba(0, 0, 0, 0.25);

// durations:
$durationFast: 120ms;
$durationNormal: 240ms;
$durationSlow: 480ms;
