// text colors:
$textColorMain: #000000;
$textColorAccent: #9900ff;
$textColorDescription: #737373;
$textColorButton: #ffffff;
$textColorGray: #333333;
$textNavLink: #bfbfbf;
$textFooterTitle: #a6a6a6;
$textFooterCopyRight: #7d7d7d;
$textColorTargetLink: #ffd621;

// background colors:
$white: #ffffff;
$dark: #000000;
$gray: #fff5ea;
$pink: #df5eff;

// durations:
$durationFast: 120ms;
$durationNormal: 240ms;
$durationSlow: 480ms;

// fonts
$font-main: "Raleway", sans-serif;
$font-accent: "Playfair Display", serif;
$font-secodary: "Roboto", sans-serif;

//colors
$dark: #242b33;
$accent: #d4c17f;
$white: #fff;
$footer-bg: #2d343c;
$placeholder: #bebebe;
$muted: #e7e7e7;
